<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="icon" type="image/png" href="../static/img/ico-grupocyber.png">
    <title>GrupoCyber</title>
</head>
<body>
    <aside id="header">
        <section class="profile">
            <img src="../static/img/Logo-Grupo-Cyber-PNG-04.png" alt="foto_logo_grupocyber">
            <h1>GrupoCyber</h1>
            <div>
                <a href=""></a>
                <a href=""></a>
                <a href=""></a>
                <a href=""></a>
            </div>
        </section>
    </aside>


    <script src="../static/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="../static/script.js"></script>
</body>
</html>