<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="icon" type="image/png" href="../static/img/ico-grupocyber.png">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css">
    <title>GrupoCyber</title>
</head>
<body>
    <aside id="header">
        <section class="profile">
            <img src="../static/img/Logo-Grupo-Cyber-PNG-04.png" alt="foto_logo_grupocyber">
            <h1>GrupoCyber</h1>
            <div>
                <a href="https://www.instagram.com/grupocyber/"></a>
                    <i class="bi bi-instagram"></i>

                <a href="http://api.whatsapp.com/send?phone=558130380075"></a>
                    <i class="bi bi-whatsapp"></i>

                <a href="https://www.linkedin.com/in/ericson-nascimento-4a7892253"></a>
                    <i class="bi bi-linkedin"></i>

                <a href="https://github.com/ericsonnascimento"></a>
                    <i class="bi bi-github"></i>
            </div>
        </section>
    </aside>


    <script src="../static/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="../static/script.js"></script>
</body>
</html>